/*-------------------------------------------------
SMACSS: LAYOUT - COMMON
-------------------------------------------------*/
section,
footer {
  max-width: 800px;
  margin: 50px auto;
}
/*-------------------------------------------------
SMACSS: LAYOUT - HEADER
-------------------------------------------------*/
/*header {
    width: 100%;
    text-align: center;
    background: #515151;
    height: em(69);

    .title {
      font-size: em(30); // em to px convertor
      display: inline-block;
      vertical-align: middle;
      margin: 13px;
      padding: 0em;
      line-height: normal;
    }

    .caption {
      padding-top: 10px;
      font-size: 14px;
    }
}*/
.weather-save{
    padding: 2em 0em 0em 0em;
}
.accordion{
  .h3-size{
  background-color: #757373 !important;
    margin-bottom: .5em !important;
}
}
.h3-size{
  background-color: #757373 !important;
    margin-bottom: .3em !important;
}
.college-name{
    color: #ed4e4e !important;
}
.active {
  background-color:  red;
}
.disabled {
  opacity: 0.3;
  pointer-events:none;
}
/*-------------------------------------------------
SMACSS: LAYOUT - SECTION
-------------------------------------------------*/
section {
  padding: 40px 20px;
  color: #fff;
  font-size: em(70);
  font-weight: 300;
}

/*-------------------------------------------------
SMACSS: LAYOUT - FOOTER
-------------------------------------------------*/
footer {
  color: #5A5F62;
  font-size: 11px;
  text-align: center;
  padding: 10px;
  width: 100%;

  a {
    color: #5A5F62;

    &:hover {
      color: #ced9e0;
    }
  }
}