/*-------------------------------------------------
SMACSS: LAYOUT - COMMON
-------------------------------------------------*/
section,
footer {
  max-width: 800px;
  margin: 50px auto;
}
/*-------------------------------------------------
SMACSS: LAYOUT - HEADER
-------------------------------------------------*/
/*header {
    width: 100%;
    text-align: center;
    background: #515151;
    height: em(69);

    .title {
      font-size: em(30); // em to px convertor
      display: inline-block;
      vertical-align: middle;
      margin: 13px;
      padding: 0em;
      line-height: normal;
    }

    .caption {
      padding-top: 10px;
      font-size: 14px;
    }
}*/
.body-color{
  background-color: #ffffff !important;
  height:890px;
}
.reset-label-color{
  font-family: Avenir-Heavy;
font-size: 12px;
color: #808080;
}
.reset-heading{
    font-family: Avenir-Medium;
  font-size: 32px !important;
  color: #007180;
  margin:60px 0px 40px 0px;
    text-align: left;
}
.header-reset{
  width:100% !important;
  height:100px !important;
  background-image: url("../images/CollegeHunchLogo.png") !important;
}
.text-box{
  width: 340px;
  height: 50px !important;
  margin:15px 0px 30px 0px;
}
.save-button-reset{
  width: 340px;
  height: 50px;
  margin:60px 0px 0px 0px;
  font-family: Avenir-Heavy;
font-size: 18px;
color: #FFFFFF;
}

.save-button{
  padding:1em 0em 1em 0em;
}
.options-style{
    background: #eee;
  margin: 0px 0px 20px 0px !important;
  padding: 1em 0em 1em 0em;
}
.intended-study-border{
  border-right:2px solid #ccc;
}
.weather-save{
    padding: 2em 0em 0em 0em;
}
.accordion{
  .h3-size{
  background-color: #757373 !important;
    margin-bottom: .5em !important;
}
}
.h3-size{
  background-color: #757373 !important;
    margin-bottom: .3em !important;
}
.college-name{
    color: #ed4e4e !important;
}
.active {
  background-color:  red;
}
.disabled {
  opacity: 0.3;
  pointer-events:none;
}
/*-------------------------------------------------
SMACSS: LAYOUT - SECTION
-------------------------------------------------*/
section {
  padding: 40px 20px;
  color: #fff;
  font-size: em(70);
  font-weight: 300;
}

/*-------------------------------------------------
SMACSS: LAYOUT - FOOTER
-------------------------------------------------*/
footer {
  color: #5A5F62;
  font-size: 11px;
  text-align: center;
  padding: 10px;
  width: 100%;

  a {
    color: #5A5F62;

    &:hover {
      color: #ced9e0;
    }
  }
}