/*-------------------------------------------------
SMACSS: VARIABLES
-------------------------------------------------*/
/* Colors */
$color-white: #fff;
$color-black: #000;

/* Font */
$font-OpenSans: 'Open Sans', 'Arial', sans-serif;
$menu-BgColor : #eaeaea;
$headerColor : #299f7d;
$searchBoxColor : #38b08d;
$activeMenuColor : #B24926;
$headingColor : #4a4a4a;
$subHeaderColor : #818181;