// TODO: Add modules to a seperate folder
/* Modal */
.modal-body .form-horizontal .col-sm-2,
.modal-body .form-horizontal .col-sm-10 {
    width: 100%
}

.modal-body .form-horizontal .control-label {
    text-align: left;
}
.modal-body .form-horizontal .col-sm-offset-2 {
    margin-left: 15px;
}

/*Common header for all pages*/
/*.admin-header {
	height: 60px;
	width: 100%;
	background: $headerColor;
	padding-right: 0px;
	.header-text {
		padding: 19px 0px 19px 43px;
		font-size: 18px;
		color: #fff;
		display: inline;
	}
	.search-box-div {
		background: $searchBoxColor;
		padding: 19px 0px 19px 43px;
		color: #fff;
		height: inherit;
		font-family: 'HelveticaNeue-ThinItalic';
		font-size: 14px;
		.serach-text {
			
		}
	}
}*/
.nav {
	li {
		a {
			background: transparent;
			color: #FFF;
			padding: 10px 9px;
			&:focus {
				background: transparent !important;
			}
		}
	}
}


/*vertical Menu List*/
.menu-list {
  background: #CAAE73;
  margin-top: -10px;
  padding: 0px;
  min-height: 680px;
  border-top-left-radius: 5px;
	li {
		height: 60px;		
		@include borderRadius(0px);
		padding-top: 14px;
		.menu-option {
			vertical-align: text-bottom;
  			margin-left: 12px;
  			/*color: #818181;*/
            font-size: 16px;
            font-family: 'robotoregular';
		}
		a {
            /*color: #818181;*/
            font-size: 16px;
            font-family: 'robotoregular';
            margin-left: 87px;
            display: table-cell;
			vertical-align: middle;
			height: 60px;
            
            &:hover {   
            	background: transparent;    
            	height: 60px;		
            	color: #FFF;
            	@include borderRadius(0px);
            }
            &:focus {
				background: transparent !important;
			}
        }
        /*&.active a {
            background-color: $activeMenuColor;
            height: 60px;		
            color: #FFF;
            @include borderRadius(0px);
        }*/
    }
    .univ-logo 
    	{
		    background-color: $headerColor;  
            color: #818181;
            font-size: 16px;
            font-family: 'HelveticaNeue';
	    } 
}

/*Drop Down*/
.drop-down-field {
	width: 100%;
}

/*Acitve Menu*/
.active_menu {
	background: $activeMenuColor !important; 
	color: #fff;

	a {
		color: #fff !important;
		background: $activeMenuColor !important;
	}
	
}
/*-------------------------------------------------
				List View CSS
--------------------------------------------------*/
.list-header {
	height: 59px;
  	/*background: #FFF;*/
  	/*background: #eaeaea;*/
  	padding-top: 15px;
  	h2 {
		font-family : 'robotoregular';
		font-size: em(15);
		color : $headingColor;
		padding-top: 7px;
		display: inline-flex;
	}
	.course-filter {
		margin-left: 56px;
		background: $menu-BgColor;
		height: 33px;
		@include borderRadius(0px); 
	}
  	.btn-position {
  		vertical-align: middle;
  		background: url('../images/Icons-sprint.png') no-repeat -149px -475px;
		width: 26px;
		height: 25px;
		margin-top: 6px;
		display: -webkit-inline-box;
		position: absolute;
		right: 285px;
		cursor: pointer;
	}
	.upload-position {
		background: url('../images/Icons-sprint.png') no-repeat -200px -474px;
		width: 25px;
		height: 26px;
		vertical-align: middle;
		margin-top: 6px;
		display: -webkit-inline-box;
	}
  	.form-control {
  		background: $menu-BgColor;
  		@include borderRadius(0px);
  		display: -webkit-inline-box;
  	}
  	.search-bar-student {
		/*width: 30% !important;*/
		float: right;
		border: 0px;
		box-shadow: none;
		-webkit-box-shadow: none;
  		-moz-box-shadow: none;
  		-ms-box-shadow: none;
  		background: #fff url('../images/search.png') no-repeat;
  		/*background-position: left;*/
  		background-position: 3% 59%;
  		padding-left: 22px;
		/*width: 19px;
		height: 19px;*/
	}
}
.list-item {
	width: inherit;
	margin-top: 15px;
	height: 605px;
	overflow-y: scroll;
	/*background: $menu-BgColor;*/
	.list-group-item {
		/*padding: 25px 24px;*/
		margin: 16px 0px;
		min-height: 65px;
		padding: 0px;
		.faculty-avatar {
			vertical-align: text-top;
			background: url('../images/Icons-sprint.png') no-repeat -52px -805px;
			width: 88px;
			height: 88px;
		}
		.student-avatar {
			vertical-align: text-top;
			background: url('../images/Icons-sprint.png') no-repeat -52px -926px;
			width: 88px;
			height: 88px;
		}
		.custom-list-header-with-avatar {
			font-family : 'HelveticaNeue';
			font-size: em(20);
			color : $headingColor;
			position: absolute;
			top: 16px;
  			left: 100px;
		}
		.custom-list-header-without-avatar {
			font-family : 'HelveticaNeue';
			font-size: em(20);
			color : $headingColor;
			/*display: table-cell;*/
			width: 60%;
			padding: 12px 0px 0px 12px;
		}

		.header-desc-with-avatar {
			position: absolute;
			top: 49px;
  			left: 100px;	
			color: $subHeaderColor;
			font-family: 'robotoregular';
			font-size: 13px;
			color: #000;

		}
		.header-desc-without-avatar {
			/*display: table-cell;*/
			font-family: 'robotoregular';
			font-size: 13px;
			color: #000;
			display: -webkit-inline-box;
			/*position: absolute;*/
			top: 34px;
			left: 12px;
			/*position: absolute;
			top: 49px;
  			left: 100px;*/
  			

		}
        .edit-custom-list {
        	float: right;
        	margin-top: 19px;
        	margin-right: 14px;
        }
        .edit-custom-list-courses {
        	float: right;
         	margin-top: -19px;
         	margin-right: 14px;	
         	cursor: not-allowed;
        }
	}
}


/*-------------------------------------------
			Custom Select Field
---------------------------------------------*/
select {
	background: #fff;
	height: 31px;
	@include borderRadius(0px);
	
}
.custom-width {
	width: 214px;
} 

/*-------------------------------------------
			Custom Button
---------------------------------------------*/
.custom-btn {
	height: em(46);
    width: 100%;
    background: $activeMenuColor !important;
    border-color: $activeMenuColor !important;
}

/*-------------------------------------------
			Custom Check Box
---------------------------------------------*/

.checkbox-radio-specific {
	/*height: 300px;*/
  	overflow-y: scroll;
    .checkbox {
		display: inline-block !important;
		cursor: pointer;
		margin-right: 10px;
		line-height: 18px;
		font-size: em(16) !important;
    }
    .radio {
    	display: inline-block !important;
		cursor: pointer;
		margin-right: 10px;
		line-height: 18px;
		padding-left: 0px;
		font-size: em(16) !important;	
    }
    label.checkbox {
    	padding-top: 21px;
    	float: left;
    }

    input[type=radio],input[type=checkbox] {
    	display: none;
    }
    
    .radio:before {
	    content: "";
	    display: inline-block;
	    /*width: 24px;
	    height: 24px;*/
	    background: url('../images/Icons-sprint.png') no-repeat -207px -678px;
		width: 10px;
		height: 10px;
	    vertical-align: initial;
	    /*background-color: #ccc;*/
	    color: #000;
	    text-align: center;
	    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
	    font-size: 30px;
	    border-radius: 22px;
  	}
  	.checkbox:before {
	    content: "";
	    display: inline-block;
	    width: 24px;
	    height: 24px;
	    vertical-align: middle;
	    background-color: #ccc;
	    color: #000;
	    text-align: center;
	    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
	    font-size: 30px;
  	}
  	input[type=radio]:checked + .radio:before,input[type=checkbox]:checked + .checkbox:before {
	    background: url("../images/selected-checkbox.png");
	}
	
	.radio-button-text {
		padding-left: 12px;
		color: #000;
		cursor: auto;
	}
}
/*-------------------------------------------
			Student List (Specific CSS)
---------------------------------------------*/

.list-avatar {
	float: left;
	padding-top: 12px;
}
.list-heading {
	padding-top: 12px;
  	margin-left: 103px;
}
.list-subheading {
	margin-top: 12px;
	margin-left: 102px;
}

/*------------------------------------------
			ON - OFF BUTTON
--------------------------------------------*/
.onoffswitch {
    position: relative;
	width: 90px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	/* float: right; */
	margin-left: 14px;
  	margin-top: -29px;
  	right: -19px;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block;
    overflow: hidden; 
    cursor: not-allowed;
    border: 2px solid #ececec; 
    border-radius: 20px;
    width: 60px;
}
.onoffswitch-inner {
    display: block; 
    margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; 
    -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; 
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; 
    float: left; 
    /*width: 50%; */
    height: 30px; 
    padding: 0; 
    line-height: 30px;
    font-size: 14px; color: white; 
    font-family: Trebuchet, Arial, sans-serif; 
    font-weight: bold;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "";
    padding-left: 50px;
    background-color: #51D668; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "";
    /*padding-right: 50px;*/
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block;
    width: 31px;
    margin: 5px 4px 1px 0px;
    background: #FFFFFF;
    border: 2px solid #999999;
    border-radius: 20px;
    position: absolute;
    top: -3px;
    bottom: 0;
    right: 53.9px;
    -moz-transition: all 0.3s ease-in 0s;
    -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 28px;
}

.duration-text {
	text-align: center;
}



/*---------------------------------------------------------
					COMMON ICONS
-----------------------------------------------------------*/
.edit-icon {
	background: url('../images/Icons-sprint.png') no-repeat -54px -478px;
	width: 19px;
	height: 20px;
	
}

/*edit and delete button on the list*/
.edit-btn {
	background: url('../images/Icons-sprint.png') no-repeat -54px -478px;
	width: 19px;
	height: 20px;
	display: -webkit-inline-box;
	margin-right: 12px;
	display: -moz-inline-box;
	
}

.del-btn {
	background: url('../images/Icons-sprint.png') no-repeat -103px -477px;
	width: 20px;
	height: 21px;
	/*display: -webkit-inline-box;*/
	margin: -20px 36px;
	cursor: pointer;
}
.course-icons-list {
	background: url('../images/Icons-sprint.png') no-repeat -253px -568px;
	width: 19px;
	height: 19px;
	display: -webkit-inline-box;
	margin-right: 6px;
}
.student-icon-list {
	background: url('../images/Icons-sprint.png') no-repeat -55px -568px;
	width: 19px;
	height: 20px;
	display: -webkit-inline-box;
	margin-left: 24px;
	margin-right: 6px;
}
.student-id {
	background: url('../images/Icons-sprint.png') no-repeat -152px -523px;
	width: 20px;
	height: 20px;
	display: -webkit-inline-box;
	margin-right: 6px;
}
.course-icon-list {
	background: url('../images/Icons-sprint.png') no-repeat -154px -568px;
	width: 16px;
	height: 19px;
	margin-left: 12px;
	margin-right: 6px;
	display: -webkit-inline-box;
}
.student-icons-list {
	background: url('../images/Icons-sprint.png') no-repeat -55px -568px;
	width: 19px;
	height: 20px;
	display: -webkit-inline-box;
	margin-left: 12px;
	margin-right: 6px;
}
.lc-icons-list {
	background: url('../images/Icons-sprint.png') no-repeat -103px -568px;
	width: 19px;
	height: 19px;
	display: -webkit-inline-box;
	margin-left: 12px;
	margin-right: 6px;
}
.email-icon-list {
	background: url('../images/Icons-sprint.png') no-repeat -53px -526px;
	width: 19px;
	height: 14px;
	display: -webkit-inline-box;
	margin-left: 12px;
	margin-right: 6px;
}
.phone-icon-list {
	background: url('../images/Icons-sprint.png') no-repeat -103px -523px;
	width: 19px;
	height: 19px;
	display: -webkit-inline-box;
	margin-right: 6px;
}
.date-icon-list {
	background: url('../images/Icons-sprint.png') no-repeat -153px -633px;
	width: 16px;
	height: 15px;
	/*display: -webkit-inline-box;*/
  	margin-right: 12px;
  	float: left;
  	/*margin: -20px 36px;*/
}

/*------------------------------------------------------
						LOADING
---------------------------------------------------------*/

.page-loader:before {
	-webkit-transition: right 1s ease-in-out;
  	-moz-transition: right 1s ease-in-out;
  	-o-transition: right 1s ease-in-out;
  	transition: right 1s ease;
	border: 1px solid #000;
	width: 62%;
	height: 680px;
	z-index: 999;
	position: fixed;
	background: #000;
	opacity: 0.5;
	content: 'LOADING DATA...';
	font-size: 2em;
	color: #fff;
	text-align: center;
	padding-top: 15%;
}					



/*Disabled Column*/	
.disabled-row {
	cursor: not-allowed;
}	


/*-----------------------------------------------
				Form Validation Error CSS
------------------------------------------------*/
.custom-form-error {
	color: #800000;
}
.custom-form-error-fgt {
	color: #800000;
	margin-left: 20px;
}


/*-----------------------------------------------
				PlaceHolder
------------------------------------------------*/
::-webkit-input-placeholder { 
	font-style: italic; 
}
::-moz-placeholder { 
	font-style: italic; 
} /* firefox 19+ */
:-ms-input-placeholder { 
	font-style: italic; 
} /* ie */
input:-moz-placeholder { 
	font-style: italic; 
}
/*input[type="search"] {
	top: 2px; 
    left: 0px;
    background: url('../images/Icons-sprint.png') no-repeat -203px -630px  !important;
    background-repeat: no-repeat;
	
	height: 19px;
    display: -webkit-inline-box;
}*/


/*---------------------------------------------------------------
                         Popup header
-----------------------------------------------------------------*/
.modal-title {
    color: #000;
}


.logo-color {
	color : #fff !important;
}

/*For Date time Picker*/
.input-group {
	display: block;
}

.testclass {
	height: 10px !important;
	width: 10px !important;
	border: 1px solid green !important;
}