<div class="account-wrapper" ng-controller="ForgotpwdCtrl">
    <div class="account-logo">
        <h1>Stipend</h1>
    </div>
    <div class="account-body" ng-hide="resetPassword.visible">
        <h3 class="account-body-title">Password Reset</h3>
        <h5 class="account-body-subtitle">We'll email you instructions on how to reset your password.</h5>
        <form class="form account-form" name="forgotPasswordForm" validate autocomplete="off">
            <div class="form-group">
                <label for="username" class="placeholder-hidden">Your Email</label>
                <input class="form-control" placeholder="Enter Registered Email id" ng-model="email.emailId" name="regiEmailId" required type="email">
            </div>
            <!-- /.form-group -->
            <div>
                <span class="custom-form-error-fgt" data-ng-show="forgotPasswordForm.regiEmailId.$error.required">Required</span>
                <span class="custom-form-error-fgt" data-ng-show="!forgotPasswordForm.regiEmailId.$valid">Not a valid email!</span>
            </div>
            <!-- Status Mesage -->
            <span ng-bind="statusMsg" class="custom-form-error-fgt"></span>
            <div class="form-group">
             <button type="submit" class="btn btn-secondary btn-block btn-lg" ng-click = "getPassword(forgotPasswordForm.$valid)">
                    Reset Password &nbsp; <i class="fa fa-refresh"></i>
                </button>
            </div>
            <!-- <div class="form-group">
                <button type="submit" class="btn btn-secondary btn-block btn-lg" ng-click="getPassword(forgotPasswordForm.$valid)">
                    Reset Password &nbsp; <i class="fa fa-refresh"></i>
                </button>
            </div> -->
            <!-- /.form-group -->
            <div class="form-group">
                <a href="/" class="login-ahref"><i class="fa fa-angle-double-left"></i> &nbsp;Back to Login</a>
            </div>
            <!-- /.form-group -->
        </form>
    </div>
    <!-- /.account-body -->
   <!--  <div class="account-body" ng-hide="!resetPassword.visible">
        <h3 class="account-body-title">Password Reset</h3>
        <h5 class="account-body-subtitle">We will email you the password</h5>
        <form class="form account-form" name="resetPasswordForm" validate autocomplete="off">
            
            <div class="form-group">
                <label for="newPassword">Password Provided in Email</label>
                <input type="text" class="form-control" placeholder="Access Password" ng-model="newAccessPasswordModel" name="newAccessPassword" required>
            </div>


            <div class="form-group">
                <label for="newPassword">Enter New password</label>
                <input type="password" class="form-control" placeholder="Enter New Password" ng-model="newPasswordModel" name="newPassword" required>
            </div>

            <div class="form-group">
                <label for="confirmPassword">Confirm password</label>
                <input type="password" class="form-control" placeholder="Confirm Password" ng-model="newConfirmPasswordModel" name="newConfirmPassword" required>
            </div>

            <div>
                <span class="custom-form-error-fgt" ng-hide="passwordMatch">Password and Confirm Password Should Match !!</span>
            </div>

            <!-- Status Mesage --
             <div><span ng-bind="statusMsg" class="custom-form-error-fgt"></span> </div>
            
            <div class="form-group">
                <button type="submit" class="btn btn-secondary btn-block btn-lg" ng-click="getPassword()">
                    Reset Password &nbsp; <i class="fa fa-refresh"></i>
                </button>
            </div>
            <!-- /.form-group --
            <div class="form-group">
                <a href="/" class="login-ahref"><i class="fa fa-angle-double-left"></i> &nbsp;Back to Login</a>
            </div>
            <!-- /.form-group --
        </form>
    </div> -->
    <!-- /.account-wrapper -->
</div>

