<!--Edit admin Profile View-->
<div ng-controller="CollegeCtrl">
	
	<div class="row">
		<div class="col-xs-11 admin-info-panel">
			<!-- <div>
				<img src="" class="admin-image">
			</div> -->
			<div class="admin-info">
				<h2>ADMIN NAME</h2>
				<div class="admin-data">
					<div class="admin-email"></div>{{name}}
					<!-- <div class="admin-no"></div>098 987 3345	  -->
				</div>
			</div>
		</div>
		<div class="col-xs-1 admin-info-panel edit-img">
			<!-- <div class="edit-icon" ng-click="getForm();"></div> -->
		</div>
	</div>
	
	
	<div class="row dashboard-row">

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="row-stat">
            <h1 class="row-stat-label text-center">Number Of Colleges</h1>
            <!-- <h1 class="row-stat-value">10</h1> -->
            <div class="badge-margin"><span class="label label-success row-stat-badge" ng-model = "scope.collegeCount">{{collegeCount}}</span></div>
          </div> <!-- /.row-stat -->
        </div> <!-- /.col -->

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="row-stat">
            <h1 class="row-stat-label text-center ">Number Of Users</h1>
            <!-- <h1 class="row-stat-value">7</h1> -->
            <div class="badge-margin"><span class="label label-success row-stat-badge badge-margin" ng-model = "scope.usersCount">{{usersCount}}</span></div>
          </div> <!-- /.row-stat -->
        </div> <!-- /.col -->
        
      </div> <!-- /.row -->
      <img src="../images/logo-small.png" alt="background"/>
      
</div>
