<!-- @@include('../_header.html') -->
<div class="account-wrapper" ng-controller="LoginCtrl">

  <div class="account-logo">
    <h1>Stipend</h1>
  </div>

    <div class="account-body">

      <h3 class="account-body-title">Welcome back to Admin.</h3>

      <h5 class="account-body-subtitle">Please sign in to get access.</h5>
      <p class="error-msg" ng-bind="loginFailed"></p>
      <form class="form account-form" name="loginForm" novalidate autocomplete="off" ng-model="loginForm">

        <div class="form-group">
          <label for="login-username" class="placeholder-hidden">Username</label>
          <input type="text" class="form-control" id="login-username" placeholder="Username" tabindex="1" required name="username" ng-model="user.username">
          <span id="helpBlock" class="help-block custom-form-error" data-ng-show="(formValidations && loginForm.username.$invalid)">Enter User Name</span>
        </div> <!-- /.form-group -->

        <div class="form-group">
          <label for="login-password" class="placeholder-hidden">Password</label>
          <input type="password" class="form-control" id="login-password" placeholder="Password" tabindex="2" required name="password" ng-model="user.password">  
          <span id="helpBlock" class="help-block custom-form-error" data-ng-show="(formValidations && loginForm.password.$invalid)">Enter Password</span>
        </div> <!-- /.form-group -->

        <div class="form-group clearfix">
         <!--  <div class="pull-left">         
            <label class="checkbox-inline">
            <input type="checkbox" class="" value="" tabindex="3">Remember me
            </label>
          </div> -->

          <div class="pull-right">
            <a href="/#/forgotpassword" class="login-ahref">Forgot Password?</a>
          </div>
        </div> <!-- /.form-group -->

        <div class="form-group">
          <button type="submit" class="btn btn-secondary btn-block btn-lg" ng-click="submitForm()">
            Signin &nbsp; <i class="fa fa-play-circle"></i>
          </button>
        </div> <!-- /.form-group -->

      </form>


    </div> <!-- /.account-body -->

    <!-- <div class="account-footer">
      <p>
      Don't have an account? &nbsp;
      <a href="./account-signup.html" class="">Create an Account!</a>
      </p>
    </div> --> <!-- /.account-footer -->

  </div> <!-- /.account-wrapper -->
<!-- <div class="login-page container" ng-controller="LoginCtrl">
	<p class="login-heading">LOGIN</p>
	<div class="login-page-form">
		<form class="form-horizontal" name="loginForm" novalidate autocomplete="off" ng-model="loginForm">
			<div class="form-group">
		        <div class="col-xs-10">
		            <input type="text" class="form-control" id="username" placeholder="Enter UserName" ng-model="user.userName" required name="username">
		        </div>
		    </div>
		    <div class="form-group">
		    	<div class="col-xs-10">
		    		<span class="custom-form-error" data-ng-show="(formValidations && loginForm.username.$invalid)">Enter User Name</span>
		    	</div>	
		    </div>	
		    <div class="form-group">
		        <div class="col-xs-10">
		            <input type="password" class="form-control" id="password" placeholder="Enter Password" ng-model="user.password" required name="password">
		        </div>
		    </div>
		    <div class="form-group">
		    	<div class="col-xs-10">
		    		<span class="custom-form-error" data-ng-show="(formValidations && loginForm.password.$invalid)">Enter Password</span>
		    	</div>	
		    </div>
		    <div class="form-group">
		        <div class="col-xs-10">
		            <button type="button" class="btn btn-primary" ng-click="submitForm()" >LOGIN</button>
		        </div>
		    </div>
		    <div class="form-group">    
		        <div class="col-xs-10">
		    		<span class="custom-form-error" ng-bind="loginFailed"></span>
		    	</div>	
		    </div>
		    <div class="form-group">
		        <div class="col-xs-10 forgot-pwd">
		            <a  data-toggle="modal" data-target="#myModal">Forgot Password?</a>
		        </div>
		    </div>
		</form>
	</div>	
</div>
<!-- Modal -->
<!-- <form class="form-horizontal" name="fgtPassword" novalidate autocomplete="off" ng-model="fgtPassword" ng-controller="ForgotpwdCtrl">
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
		    <div class="modal-content">
		      	<div class="modal-header">
		        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        	<h4 class="modal-title" id="myModalLabel">Forgot Password</h4>
		      	</div>
		      	<div class="modal-body">
		        	<input type="text" class="form-control" id="username" placeholder="Enter Registered Email id" ng-model="user.regiEmailId" name="regiEmailId" required>
		        </div>
		        <span class="custom-form-error-fgt" data-ng-show="(formValidations1 && fgtPassword.regiEmailId.$invalid)">Enter Registered Email Id</span>
		        <span ng-bind="statusMsg" class="custom-form-error-fgt"></span>
		      	<div class="modal-footer login-page-form">
			        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
			        <!-- <button type="button" class="btn btn-primary">Save changes</button> --
			        <button type="button" class="btn btn-primary custom-btn" ng-click="getPassword()">SEND NEW PASSWORD</button>
		      	</div>
		    </div>
		</div>
	</div>
</form>	 --> 
<!-- </fieldset> -->
