<div ng-controller="ForgotpwdCtrl">
    <div class="body-color">
        <div class="row" style="text-align: center;">
            <div class="header-reset" style="width:100% !important;height:100px !important; background-color:#4dd0e1;">
                <img src="../images/logo-small.png" alt="background" style="  margin: 20px 0px 20px 100px;" />
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4 col-md-offset-1">
                <div class="reset-heading " style="text-align: left;">Reset Your Password</div>
                <form class="form account-form" name="fgtPassword" novalidate autocomplete="off">
                    <div class="form-group">
                        <label for="newPassword" class="reset-label-color">NEW PASSWORD</label>
                        <input type="password" class="form-control text-box" ng-model="user.newPassword" required>
                    </div>
                    <!-- /.form-group -->
                    <!-- <span class="custom-form-error-fgt" data-ng-show="(formValidations1 && fgtPassword.regiEmailId.$invalid)"></span> -->
                    <div class="form-group">
                        <label for="confirmPassword" class="reset-label-color">CONFIRM PASSWORD</label>
                        <input type="password" class="form-control text-box" required ng-model="user.confirmPassword">
                    </div>
                    <!-- /.form-group -->
                    <!-- <span class="custom-form-error-fgt" data-ng-show="(formValidations1 && fgtPassword.regiEmailId.$invalid)">Enter Registered Email Id</span> -->
                    <!-- <span ng-bind="statusMsg" class="custom-form-error-fgt"></span> -->
                    <div class="form-group">
                        <button type="submit " class="btn btn-secondary btn-block btn-lg save-button-reset" style="color: #ffffff;
                          background-color: #4dd0e1; border-color: #4dd0e1;" ng-click="setNewPassword(user)">
                            Save New Password
                        </button>
                    </div>
                    <!-- /.form-group -->
                    <!-- 
        <div class="form-group">
          <a href="/" class="login-ahref"><i class="fa fa-angle-double-left"></i> &nbsp;Back to Login</a>
        </div> <!-- /.form-group -->
                </form>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>
<!-- /.account-wrapper -->
