<div class="account-wrapper" ng-controller="ForgotpwdCtrl">

  <div class="account-logo">
   <h1>Stipend</h1>
  </div>

    <div class="account-body">

      <h3 class="account-body-title">Password Reset</h3>

      <h5 class="account-body-subtitle">Please Enter Your Password.</h5>

      <form class="form account-form" name="fgtPassword" novalidate autocomplete="off" ng-model="fgtPassword" ng-controller="ForgotpwdCtrl">

        <div class="form-group">
          <label for="newPassword" class="placeholder-hidden">Enter New password</label>
          <input type="password" class="form-control" id="newPassword" placeholder="Enter New Password" ng-model="user.regiEmailId" name="regiEmailId" required>
        </div> <!-- /.form-group -->
        <span class="custom-form-error-fgt" data-ng-show="(formValidations1 && fgtPassword.regiEmailId.$invalid)">Enter Registered Email Id</span>
       <div class="form-group">
          <label for="confirmPassword" class="placeholder-hidden">Confirm password</label>
          <input type="password" class="form-control" id="confirmPassword" placeholder="COnfirm Password" ng-model="user.regiEmailId" name="regiEmailId" required>
        </div> <!-- /.form-group -->
        <span class="custom-form-error-fgt" data-ng-show="(formValidations1 && fgtPassword.regiEmailId.$invalid)">Enter Registered Email Id</span>

        <span ng-bind="statusMsg" class="custom-form-error-fgt"></span>

        <div class="form-group">
          <button type="submit" class="btn btn-secondary btn-block btn-lg" ng-click="getPassword()">
            Reset Password &nbsp; <i class="fa fa-refresh"></i>
          </button>
        </div> <!-- /.form-group -->

        <div class="form-group">
          <a href="/" class="login-ahref"><i class="fa fa-angle-double-left"></i> &nbsp;Back to Login</a>
        </div> <!-- /.form-group -->
      </form>

    </div> <!-- /.account-body -->

  </div> <!-- /.account-wrapper -->