<!--Edit faculty Profile View-->
<div ng-controller="CollegeCtrl">
    <!-- Faculty List Page View-->
    <div ng-hide="colgList">
        <div class="row list-header">
            <div class="col-xs-8">
                <h2>USERS ({{usersCount}})</h2>
                <!-- <div  ng-click="getForm();" class="btn-position"></div> -->
            </div>
            <!-- <div class="col-xs-4">
                <input type="search" placeholder="Search For Colleges" class="form-control search-bar-student " ng-disabled="true">
            </div> -->
        </div>
        <div class="container list-item">
            <table class="table table-striped">
                <thead>
                    <tr class="success">
                        <th class="table-th"><a href="" ng-click="predicate = 'collegeId'; reverse=!reverse" class="heading-white">First Name</a></th>
                        <th class="table-th"><a href="" ng-click="predicate = 'collegeName'; reverse=!reverse" class="heading-white">Last Name</a></th>
                        <th class="table-th"><a href="" ng-click="predicate = 'city'; reverse=!reverse" class="heading-white">Gender</a></th>
                        <th class="table-th"><a href="" ng-click="predicate = 'city'; reverse=!reverse" class="heading-white">EmailID</a></th>
                        <th class="table-th"><a href="" ng-click="predicate = 'city'; reverse=!reverse" class="heading-white">City</a></th>
                        <th class="table-th"><a href="" ng-click="predicate = 'city'; reverse=!reverse" class="heading-white">State</a></th>
                        <th class="table-th"><a href="" ng-click="predicate = 'city'; reverse=!reverse" class="heading-white">UserType</a></th>
                        
                    </tr>
                </thead>
                <tbody>

                    <tr ng-repeat="item in userdata |  orderBy:predicate:reverse">
                        <!-- <td data-toggle="tooltip" data-placement="top" title="Description : One year to challenge your thinking, change your outlook and choose your future ">{{item.firstName + ' ' +item.lastName}}</td> -->
                        <td>{{item.firstName}}</td>
                        <td>{{item.lastName}}</td>
                        <td>{{item.genderId | genderFilter}}</td>
                        <td>{{item.emailId}}</td>
                        <td>{{item.city}}</td>
                        <td>{{item.state}}</td>
                        <td>{{item.sysusertypeId }}</td>
                    </tr>
                </tbody>
            </table>
            <button ng-click="getUsers('prev')" ng-class="{disabled:pageState == 1}">PREV</button>
            <button ng-repeat="n in totalCount track by $index" ng-click="getUsers(n)" ng-class="{active:n==pageState}">{{n}}</button>
            <button ng-click="getUsers('next')" ng-class="{disabled:pageState == totalCount.length}">NEXT</button>

        </div>
    </div>
</div>
