<!--Edit faculty Profile View-->
<div ng-controller="CollegeCtrl">
    <div class="row list-header">
        <div class="col-xs-8">
            <h2 class="h1-size">File Upload</h2>
            <!-- <div  ng-click="getForm();" class="btn-position"></div> -->
        </div>
    </div>
    <!-- Faculty List Page View-->
    <div class="row">
        <form class="form-horizontal">
            <div class="row">
                <div class="form-group">
                    <label class="col-sm-4 lable-font control-label">Sports File Upload</label>
                    <div class="col-sm-6">
                        <input type="file" class="form-control" placeholder="Upload File" file-model="myFile">
                    </div>
                    <div class="col-xs-2">
                        <button type="button" class="btn btn-primary" ng-click="uploadSportsfileupload()">SAVE</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="col-sm-4 lable-font control-label">File Upload</label>
                    <div class="col-sm-6">
                        <input type="file" class="form-control" placeholder="Upload File" file-model="myFile">
                    </div>
                    <div class="col-xs-2">
                        <button type="button" class="btn btn-primary" ng-click="uploadFile()">SAVE</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
